<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Side Nav / Collapse Content -->
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4 sidenav">
    <ul class="list-unstyled text-white">
      <li><a routerLink="aduser" class="text-white">All Users</a></li>
      <li><a routerLink="adproffesional" class="text-white">All Professionals</a></li>
      <li><a routerLink="adsummary" class="text-white">Summary</a></li>
    </ul>
  </div>
</div>
<router-outlet/>
